body { 
  height: 100%; 
  width: 96%; 
  padding: 0; 
  margin: 2%; 
  font-family: sans-serif;
}

#blocklyDiv {
  height: 400px;
  width: 60%;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

pre {
  background-color: #f7f7f7;
  padding: 10px;
  border: 1px solid #ddd;
}

.sideBySide {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 20px;
}

#blocklyDiv,
#canvasWrapper{
  flex: 1;
  max-width: 60%;
  /* Ensures both take roughly half the space */
}

#blocklyDiv {
  height: 480px;
  border: 1px solid #ccc;
}

#canvasWrapper {
  position: relative;
  width: 800px;
  height: 480px;
}

#trailCanvas,
#robotCanvas {
  position: absolute;
  top: 0;
  left: 0;
}

#trailCanvas {
  z-index: 1;
  border: 1px dashed lime;
}

#robotCanvas {
  z-index: 0;
  border: 1px solid #ccc;
}